<div class="panel panel-default">
   <div class="panel-heading">
      <p>{{pics.length}} Pictures <button type="button" class="btn btn-sm btn-success" ng-click="getMore()">More</button></p>
   </div>
   <div class="panel-body">
		<div ng-repeat="p in pics | orderBy:orderBy" class="col-md-2">
			<a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}"></a>
			<span class="glyphicon glyphicon-thumbs-up">{{p.likes.count}}</span>    
		</div>	 
   </div>
</div>

